<!-- Statistics Section-->
<section class="statistics" style="padding-top: 5%">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-lg-3">
        <div class="card data-usage">
          <h2 class="display h4">
            <strong
              ><a [routerLink]="['/incidents']" routerLinkActive="active"
                >My Incidents</a
              ></strong
            >
          </h2>
          <p>{{ modelIncident.drafts }} Drafts</p>
          <p>{{ modelIncident.canceled }} Canceled</p>
          <p>{{ modelIncident.executing }} Executing</p>
          <p>{{ modelIncident.completed }} Completed</p>
        </div>
      </div>

      <div class="col-lg-3" style="margin-left: 10px">
        <div class="card data-usage">
          <h2 class="display h4">
            <strong
              ><a id='WP' [routerLink]="['/workPlans']" routerLinkActive="active"
                >My Work Plans</a
              ></strong
            >
          </h2>
          <p>{{ modelWorkPlans.drafts }} Drafts</p>
          <p>{{ modelWorkPlans.canceled }} Canceled</p>
          <p>{{ modelWorkPlans.executing }} Executing</p>
          <p>{{ modelWorkPlans.completed }} Completed</p>
        </div>
      </div>
      <div class="col-lg-3.5" style="margin-left: 10px">
        <div class="card data-usage">
          <h2 class="display h4">
            <strong
              ><a id='SD' [routerLink]="['/safetyDocs']" routerLinkActive="active"
                >My Safety Docs</a
              ></strong
            >
          </h2>
          <p>{{ modelSafetyDoc.drafts }} Drafts</p>
          <p>{{ modelSafetyDoc.canceled }} Canceled</p>
          <p>{{ modelSafetyDoc.executing }} Executing</p>
          <p>{{ modelSafetyDoc.completed }} Completed</p>
        </div>
      </div>
      <div class="col-lg-3.5" style="margin-left: 30px">
        <div class="card data-usage">
          <h2 class="display h4">
            <strong
              ><a id='WO' [routerLink]="['/workOrders']" routerLinkActive="active"
                >My Work Order</a
              ></strong
            >
          </h2>
          <p>{{ modelWorkOrder.drafts }} Drafts</p>
          <p>{{ modelWorkOrder.canceled }} Canceled</p>
          <p>{{ modelWorkOrder.executing }} Executing</p>
          <p>{{ modelWorkOrder.completed }} Completed</p>
        </div>
      </div>
      
    </div>
    <br/><br/><br/><br/>
    <div class="row d-flex">
      <div class="col-lg-line-chart" >
          <h2 class="display h4">
            <strong
              ><a id='incidentsChart' [routerLink]="['/incidents']" routerLinkActive="active"
                >INCIDENTS</a
              ></strong
            >
          </h2>
         <app-line-chart></app-line-chart>
      </div>
      &nbsp; &nbsp; &nbsp; 
      <div class="col-lg-pie-chart" >
          <h2 class="display h4">
            <strong
              ><a id='documentsChart' [routerLink]="['/safetyDocs']" routerLinkActive="active"
                >DOCUMENTS</a
              ></strong
            >
          </h2>
          <app-pieChart ></app-pieChart>
      </div>
    </div>
  </div>
</section>