<div class="form-row">
  <!-- New Plan buttons-->
  <div class="form-group col-md-3">
    <div class="input-group mb-3">
      <div class="list-group" style="width: 300px; padding-top: 20px">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['basicInformation']"
        >
          Basic Information
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['historyOfStateChange']"
          [disabled]="newPlan"
        >
          History of state changes
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['multimediaAttachments']"
          [disabled]="newPlan"
        >
          Multimedia attachments
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['equipment']"
          [disabled]="newPlan"
        >
          Equipment
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['switchingInstruction']"
          [disabled]="newPlan"
        >
          Switching instruction
        </button>
      </div>
    </div>
  </div>
  <div class="form-group col-md-8">
    <div class="input-group mb-3">
      <router-outlet name="primary"></router-outlet>
    </div>
    <!--Save and Cancel-->
    <div class="form-group col-md-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="button">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
        <button class="btn btn-outline-primary" type="button">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
