<div class="form-row">
  <!-- New Plan buttons-->
  <div class="form-group col-md-3">
    <div class="input-group mb-3">
      <div class="list-group" style="width: 300px; padding-top: 20px">
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['basicInformation']"
          (click)="changeView(1)"
        >
          Basic Information
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['historyOfStateChange']"
          (click)="changeView(2)"
        >
          History of state changes
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['multimediaAttachments']"
          (click)="changeView(3)"
        >
          Multimedia attachments
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['equipment']"
          (click)="changeView(4)"
        >
          Equipment
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action"
          [routerLink]="['switchingInstruction']"
          (click)="changeView(5)"
        >
          Switching instruction
        </button>
      </div>
    </div>
  </div>
  <div class="form-group col-md-8">
    <div class="input-group mb-3">
      <div [ngSwitch]="this.buttonClicked">
        <div *ngSwitchCase="1">
          <app-basicInformation [basicInfoModel]=basicInfoModelParent name="primary" (newItemEvent)="checkBasicInfo($event)"></app-basicInformation>
        </div>
        <div *ngSwitchCase="2">
          <app-history-of-state-change-work-plan [historyModel]=historyModelParent name="primary" (newItemEvent)="checkHistory($event)"></app-history-of-state-change-work-plan>
        </div>
        <div *ngSwitchCase="3">
          <app-multimedia-attachmentsWP [multimediaModel]=multimediaModelParent name="primary" (newItemEvent)="checkMultimedia($event)"></app-multimedia-attachmentsWP>
        </div>
        <div *ngSwitchCase="4">
          <app-equipmentWP [equipmentModel]=equipmentModelParent name="primary" (newItemEvent)="checkEquipment($event)"></app-equipmentWP>
        </div>
        <div *ngSwitchCase="5">
          <app-switchingInstructions [switchingInstructionModel]=instructionModelParent name="primary" (newItemEvent)="checkInstruction($event)"></app-switchingInstructions>
        </div>
      </div>
    </div>
    <!--Save and Cancel-->
    <div class="form-group col-md-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="button" (click)="save()">
            <mat-icon>save</mat-icon>
            Save
          </button>
        </div>
        <button class="btn btn-outline-primary" type="button" (click)="cancle()">
          <mat-icon>cancel</mat-icon>
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
