
<div class="myDiv" >
  <button (click)="changeView(1)" class="button">Basic Information</button><br>
  <button (click)="changeView(2)" class="button">History of state changes</button><br>
  <button (click)="changeView(3)" class="button">Multimedia attachments</button><br>
  <button (click)="changeView(4)" class="button">Equipment</button><br>
  <button (click)="changeView(5)" class="button">Switching instruction</button><br>
</div>

<div [ngSwitch]="this.buttonClicked">
  <div *ngSwitchCase = 1>
    <app-basicInformation></app-basicInformation>
  </div>
  <div *ngSwitchCase = 2>
    <app-historyOfStateChanges></app-historyOfStateChanges>
  </div>
  <div *ngSwitchCase = 3>
    <app-multimediaAttachments></app-multimediaAttachments>
  </div>
  <div *ngSwitchCase = 4>
    <app-equipment></app-equipment>
  </div>
  <div *ngSwitchCase = 5>
    <app-switchingInstructions></app-switchingInstructions>
  </div>
</div>