<h1 style="margin-left: 40%">Report Outage</h1>

<div class="container" style="background-color: white; border-radius:3%; width: 50%;">
  <form (ngSubmit)="report()" ngNativeValidate>
    <!--Reason-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Reason</mat-label>
      <input type="text" matInput [formControl]="reasonFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="model.reason" name="reason" 
             placeholder="Reason...">
      <mat-error *ngIf="reasonFormControl.hasError('required')">
        Reason is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--Comment-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Comment</mat-label>
      <input type="text" matInput [formControl]="commentFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.comment" name="comment" 
             placeholder="Comment...">
      <mat-error *ngIf="commentFormControl.hasError('required')">
        Comment is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--Hazard-->
    <mat-form-field class="example-full-width divStyle" style="padding-top: 3%;" >
      <mat-label>Hazard</mat-label>
      <input type="text" matInput [formControl]="hazardFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="model.hazard" name="hazard" 
             placeholder="Hazard...">
      <mat-error *ngIf="hazardFormControl.hasError('required')">
        Hazard is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <h3 style="padding-top: 3%;">Consumer info:</h3>

    <!--Name-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Name</mat-label>
      <input type="text" matInput [errorStateMatcher]="matcher" [(ngModel)]="model.name" name="name" 
             placeholder="Name...">
    </mat-form-field>

    <!--Lastname-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Lastname</mat-label>
      <input type="text" matInput [errorStateMatcher]="matcher"  [(ngModel)]="model.lastname" name="lastanme" 
             placeholder="Lastname...">
    </mat-form-field>

    <!--Phonenumber-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Phone number</mat-label>
      <input type="text" matInput [errorStateMatcher]="matcher" [(ngModel)]="model.phoneNumber" name="phoneNumber" 
             placeholder="Phone number...">
    </mat-form-field>

    <!--Street-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>Street</mat-label>
      <input type="text" matInput  [formControl]="streetFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.street" name="street" 
             placeholder="Street...">
     <mat-error *ngIf="streetFormControl.hasError('required')">
         Street is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--City-->
    <mat-form-field class="example-full-width divStyle" >
      <mat-label>City</mat-label>
      <input type="text" matInput  [formControl]="cityFormControl" [errorStateMatcher]="matcher"  [(ngModel)]="model.city" name="city" 
             placeholder="City...">
      <mat-error *ngIf="cityFormControl.hasError('required')">
            City is <strong>required</strong>
      </mat-error>
    </mat-form-field>

     <!--PostNumber-->
     <mat-form-field class="example-full-width divStyle" >
      <mat-label>Post number</mat-label>
      <input type="text" matInput  [formControl]="postNumberFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.postNumber" name="postNumber" 
             placeholder="Post number...">
      <mat-error *ngIf="postNumberFormControl.hasError('required')">
            Post number is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!--Type of user-->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select  name="type" [errorStateMatcher]="matcher" [(ngModel)]="model.type">
        <mat-option value="Crew Member">Residental</mat-option>
        <mat-option value="Dispatcher">Commercial</mat-option>
      </mat-select>
    </mat-form-field>

    <!--Button Reposrt-->
    <div class="input-group-prepend">
    <button class="btn btn-primary" type="submit" style="margin-left: 80%;">Report</button>
    </div>
  </form>
</div>
