<div class="container" style="background-color: aliceblue; border-radius: 3%; width: 50%;">
<form (ngSubmit)="register()" ngNativeValidate>
  
    <h1 style="text-align: center;">Register</h1>
    <p style="margin-left: 5%;">Please fill in this form to create an account.</p>
    <hr />

    <!--Username-->
  <div>
      <mat-form-field class="example-full-width" >
        <mat-label>Username</mat-label>
        <input type="text"  name="username" matInput [(ngModel)]="model.Username" 
               placeholder="Username..." required>
        
      </mat-form-field>
  </div>

  <!--Email-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput [(ngModel)]="model.Email" 
               placeholder="email@mail.com" required>
        
      </mat-form-field>
    </div>

    <!--Password-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput [(ngModel)]="model.Password" required>
        
      </mat-form-field>
    </div>
<!--Repete password-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Repete Password</mat-label>
        <input type="password" name="passwordRepete" matInput [(ngModel)]="model.PasswordRepete" required>
       
      </mat-form-field>
    </div>

    <div style="color: red; margin-left: 15%;" *ngIf="!checkPasswords()" required>
      Password and Confirm Password must be match.
    </div>

    <!--Name-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput name="name" [(ngModel)]="model.Name" required>
       
      </mat-form-field>
    </div>

    <!--Lastname-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>LastName</mat-label>
        <input type="text" matInput  name="lastname"  [(ngModel)]="model.Lastname" required>
      
      </mat-form-field>
    </div>
<!--Birthday-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>birthday</mat-label>
        <input type="date" matInput  name="birthday" [(ngModel)]="model.Birthday" required>
       
      </mat-form-field>
    </div>
<!--Street-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input type="text" matInput  name="street" [(ngModel)]="model.Street" placeholder="Street Number" required>
        
      </mat-form-field>
    </div>
<!--City-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput name="city" [(ngModel)]="model.City" required>
        
      </mat-form-field>
    </div>

    <!--PostNumber-->
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Post Number</mat-label>
        <input type="number" name="number" matInput [(ngModel)]="model.PostNumber" required>
       
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select name="role" (selectionChange)="SelectionChangedCause($event)">
          <mat-option value="Crew Member">Crew Member</mat-option>
          <mat-option value="Dispatcher">Dispatcher</mat-option>
          <mat-option value="Worker">Worker</mat-option>
          <mat-option value="Consumer">Consumer</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="showSubcauses">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Crews</mat-label>
          <mat-select name="crews">
            <mat-option *ngFor="let value of subcauses" value="value">{{value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <input
        type="checkbox"
        name="checkemail"
        id="checkemail"
        [(ngModel)]="model.CheckEmail"
        style="margin-left: 15%;"
      />
      <label for="checkemail"><b>Send Email</b></label>
    </div>
    
    <div>
      <input
        type="file"
        name="Picture"
        id="Picture"
        (change)="onFileSelected($event)"
        style="margin-left: 15%;"
      />
    </div>
    <hr />

    <p>
      By creating an account you agree to our <a href="#">Terms & Privacy</a>.
    </p>

    <button type="submit" class="btn btn-primary" style="margin-left: 40% ; width:20% ; height: 10%;">Register</button>
  
</form>
</div>
