<div class="container" style="background-color: aliceblue; border-radius: 3%; width: 50%;">
<form (ngSubmit)="register()" ngNativeValidate>
  
    <h1 style="text-align: center;">Register</h1>
    <p style="margin-left: 5%;">Please fill in this form to create an account.</p>
    <hr />
    
  <div>
      <mat-form-field class="example-full-width" >
        <mat-label>Username</mat-label>
        <input type="text" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Username" 
               placeholder="Username...">
        <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
          Please enter a valid Username
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>
  </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Email" 
               placeholder="email@mail.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid Email
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Password">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Repete Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.PasswordRepete">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div style="color: red; margin-left: 15%;" *ngIf="!checkPasswords()" >
      Password and Confirm Password must be match.
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Name">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>LastName</mat-label>
        <input type="text" matInput [formControl]="lastnameFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Lastname">
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Lastname is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>birthday</mat-label>
        <input type="date" matInput [formControl]="birthdayFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Birthday">
        <mat-error *ngIf="birthdayFormControl.hasError('required')">
          Birthday is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input type="text" matInput [formControl]="streetFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.Street" placeholder="Street Number">
        <mat-error *ngIf="streetFormControl.hasError('required')">
          Street is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input type="text" matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.City">
        <mat-error *ngIf="cityFormControl.hasError('required')">
          City is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Post Number</mat-label>
        <input type="number" matInput [formControl]="postNumberFormControl" [errorStateMatcher]="matcher" [(ngModel)]="model.PostNumber">
        <mat-error *ngIf="postNumberFormControl.hasError('required')">
          Post Number is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select (selectionChange)="SelectionChangedCause($event)">
          <mat-option value="Crew Member">Crew Member</mat-option>
          <mat-option value="Dispatcher">Dispatcher</mat-option>
          <mat-option value="Worker">Worker</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="showSubcauses">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Crews</mat-label>
          <mat-select [formControl]="resolutionFormControl">
            <mat-option *ngFor="let value of subcauses" value="value">{{value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <input
        type="checkbox"
        name="checkemail"
        id="checkemail"
        [(ngModel)]="model.CheckEmail"
        style="margin-left: 15%;"
      />
      <label for="checkemail"><b>Send Email</b></label>
    </div>
    
    <div>
      <input
        type="file"
        name="Picture"
        id="Picture"
        (change)="onFileSelected($event)"
        style="margin-left: 15%;"
      />
    </div>
    <hr />

    <p>
      By creating an account you agree to our <a href="#">Terms & Privacy</a>.
    </p>

    <button type="submit" class="btn btn-primary" style="margin-left: 40% ; width:20% ; height: 10%;">Register</button>
  
</form>
</div>
