<p>
  navBar works!
  <a href="/home" routerLinkActive="active" >Home </a>
  &nbsp;
  <a href="/notifications" routerLinkActive="active" >Notifications</a>
  &nbsp;
  <a href="/changeProfile" routerLinkActive="active" >ChangeProfil </a>
  &nbsp;
  <a href="/map" routerLinkActive="active" >Map </a>
  &nbsp;
  <a href="/allDevices" routerLinkActive="active" >All Devices </a>
  &nbsp;
  <a href="/allCrews" routerLinkActive="active" >All Crews </a>
  &nbsp;
  <a href="/consumers" routerLinkActive="active" >Consumers </a>
</p>
