<ul class="nav flex-column navbar-light bg-light nav-bar-design">
  <li class="nav-item">
    <a
      class="nav-link active icon-height"
      href="/dashboard"
      routerLinkActive="active"
      ><mat-icon class="icon-design">home</mat-icon>
      <p>Home</p>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link icon-height"
      href="/notifications"
      routerLinkActive="active"
      ><mat-icon class="icon-design">notifications</mat-icon>
      <p>Notifications</p></a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link icon-height"
      href="/changeProfile"
      routerLinkActive="active"
      ><mat-icon class="icon-design">settings</mat-icon>
      <p>Settings</p></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link icon-height" href="/map" routerLinkActive="active"
      ><mat-icon class="icon-design"> map</mat-icon>
      <p>Map</p></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link icon-height" href="/map" routerLinkActive="active"
      ><mat-icon class="icon-design">library_books</mat-icon>
      <p>Nesto </p></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link icon-height" href="/allCrews" routerLinkActive="active"
      ><mat-icon class="icon-design">group_add</mat-icon>
      <p>Crews</p></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link icon-height" href="/consumers" routerLinkActive="active"
      ><mat-icon class="icon-design">person_add</mat-icon>
      <p>Consumers</p></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link icon-height" href="/allDevices" routerLinkActive="active"
      ><mat-icon class="icon-design">add_to_queue</mat-icon>
      <p>Devices</p></a
    >
  </li>
</ul>
