<ul class="nav flex-column navbar-light bg-light nav-bar-design">

  <!--Home-->
  <li class="nav-item">
    <a class="nav-link active icon-height" [routerLink]="['/dashboard']" routerLinkActive="active">
      <mat-icon class="icon-design">home</mat-icon>
      <p>Home</p>
    </a>
  </li>

  <!--Notifications-->
  <li class="nav-item" style="padding-top: 4%;">
    <a class="nav-link icon-height" [routerLink]="['/notifications']" routerLinkActive="active">
      <mat-icon class="icon-design"[matBadge]="badgeContent" matBadgeColor="warn" matBadgePosition="above after">notifications</mat-icon>
      <p>Notifications</p>
    </a>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </li>

  <!--settings-->
  <li class="nav-item">
    <a class="nav-link icon-height" [routerLink]="['/changeProfile']" routerLinkActive="active">
      <mat-icon class="icon-design">settings</mat-icon>
      <p>Settings</p>
    </a>
  </li>

  <div *ngIf="admin">
    <!--Admin settings-->
    <li class="nav-item">
      <a class="nav-link icon-height" [routerLink]="['/adminSettings']" routerLinkActive="active">
        <mat-icon class="icon-design">settings</mat-icon>
        <p>Admin Settings</p>
      </a>
    </li>
  </div>
  <br />
  <!--Map-->
  <li class="nav-item">
    <a class="nav-link icon-height" [routerLink]="['/map']" routerLinkActive="active">
      <mat-icon class="icon-design"> map</mat-icon>
      <p>Map</p>
    </a>
  </li>

  <!--Crews-->
  <div *ngIf="visible">
  <li class="nav-item">
    <a class="nav-link icon-height" [routerLink]="['/allCrews']" routerLinkActive="active">
      <mat-icon class="icon-design">group_add</mat-icon>
      <p>Crews</p>
    </a>
  </li>
  </div>

  <div *ngIf="visible">
    <!--Consumers-->
    <li class="nav-item">
      <a class="nav-link icon-height" [routerLink]="['/consumers']" routerLinkActive="active">
        <mat-icon class="icon-design">person_add</mat-icon>
        <p>Consumers</p>
      </a>
    </li>
  </div>

  <!--Devices-->
  <div *ngIf="visible">
  <li class="nav-item">
    <a class="nav-link icon-height" [routerLink]="['/allDevices']" routerLinkActive="active">
      <mat-icon class="icon-design">add_to_queue</mat-icon>
      <p>Devices</p>
    </a>
  </li>
  </div>
</ul>