<h2 style="text-align: center">Edit Consumer</h2>
<hr />
<br />

<div style="margin-left: 25%">
  <form (ngSubmit)="saveChange()" >
    <!--Label Name and input Enter name-->
    
    <div>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Name</span
        >
      </div>
      <input
        name="Name"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Name..."
        [(ngModel)]="model.name"
        [formControl]="nameFormControl" 
        required
      />
      
    </div>
    <!--Label Lastname and input Enter Lastname-->
    <div>
      <mat-error *ngIf="lastnameFormControl.hasError('required')">
        Lastname is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Lastname</span
        >
      </div>
      <input
        name="Lastname"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Lastname..."
        [(ngModel)]="model.lastname"
        [formControl]="lastnameFormControl" 
        required
      />
    </div>

    <!--Label Phone number and input Enter phone nummber-->
    <div>
      <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
        Phone number is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Phone number</span
        >
      </div>
      <input
        name="Phone"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Phone number..."
        [(ngModel)]="model.phone"
        
        [formControl]="phoneNumberFormControl" 
        required
      />
    </div>

    <!--Label Street and input Enter street-->
    <div>
      <mat-error *ngIf="streetFormControl.hasError('required')">
        Street is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Street</span
        >
      </div>
      <input
        name="Street"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Location..."
        [(ngModel)]="model.street"
        
        [formControl]="streetFormControl" 
        required
      />
    </div>

    <!--Label City and input Enter City-->
    <div>
      <mat-error *ngIf="cityFormControl.hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >City</span
        >
      </div>
      <input
        name="City"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter city..."
        [(ngModel)]="model.city"
        
        [formControl]="cityFormControl" 
        required
      />
    </div>

    <!--Label PostNumber and input Enter PostNumber-->
    <div>
      <mat-error *ngIf="postNumberFormControl.hasError('required')">
        Post number is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Post number</span
        >
      </div>
      <input
        name="PostNumber"
        type="number"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Post number..."
        [(ngModel)]="model.postNumber"
        
        [formControl]="postNumberFormControl" 
        required
      />
    </div>

    <!--Label Type and select choose-->
    <div>
      <mat-error *ngIf="typeFormControl.hasError('required')">
        Type is <strong>required</strong>
      </mat-error>
    </div>
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Type</label>
      </div>
      <select
        name="Type"
        class="custom-select"
        id="inputGroupSelect01"
        [(ngModel)]="model.type"
        
        [formControl]="typeFormControl" 
        required
      >
        <option value="Residential">Rezidentalni</option>
        <option value="Commercial">Komercijalni</option>
      </select>
    </div>
    <!--Button Reposrt-->
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="submit" mat-stroked-button>Save</button>
    </div>
  </form>
</div>