<div class="form-row mt-2">

  <div class="list-group list-design">
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[0]">
      Basic Information
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[1]" [disabled]="newIncident" >
      Devices
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[2]" [disabled]="newIncident" >
      Resolution
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[3]" [disabled]="newIncident" >
      Calls
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[4]" [disabled]="newIncident" >
      Crew
    </button>
    <button type="button" class="list-group-item list-group-item-action" [routerLink]="navPaths[5]" [disabled]="newIncident" >
      Multimedia Attachments
    </button>
  </div>

  <router-outlet name="primary"></router-outlet>
  
  <!--
  <div [ngSwitch]="this.buttonClicked">
    <div *ngSwitchCase="1">
      <app-basic-information-incidents></app-basic-information-incidents>
    </div>
    <div *ngSwitchCase="2">
      <app-devices></app-devices>
    </div>
    <div *ngSwitchCase="3">
      <app-resolution></app-resolution>
    </div>
    <div *ngSwitchCase="4">
      <app-calls></app-calls>
    </div>
    <div *ngSwitchCase="5">
      <app-crew></app-crew>
    </div>
    <div *ngSwitchCase="6">
      <app-multimedia-attachments-incidents></app-multimedia-attachments-incidents>
    </div>
  </div>
-->

</div>