<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Activate profile">
    <app-activateProfile></app-activateProfile>
  </mat-tab>
  <mat-tab label="Add street priority">
    <app-street-dialog></app-street-dialog>
  </mat-tab>
  <!--<mat-tab label="Show and change icons">
    <app-icons-dialog></app-icons-dialog>
  </mat-tab>-->
  <mat-tab label="Notification settings">
    <app-notification-dialog></app-notification-dialog>
  </mat-tab>
  <mat-tab label="Fields settings">
    <app-fields-dialog></app-fields-dialog>
  </mat-tab>
  <mat-tab label="Reset all ">
   <button type="button" style="margin-left: 50%; padding-top: 10%;" (click)="resetAll()">RESET ALL</button>
  </mat-tab>
</mat-tab-group>

 