<div class="container" style="padding-top: 20px">
  <h2>Basic Information</h2>

  <form  (ngSubmit)="nextBasic()" ngNativeValidate  #myForm="ngForm">
  
  <!--Type-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Type</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" 
                name="type"
                [(ngModel)]="basicInfoModel.type" required>
          <option value="1">PLANNED WORK </option>
          <option value="2">UNPLANNED WORK</option>
        </select>
      </div>
    </div>

    <!--Company-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Company</span
          >
        </div>
        <input
          type="text"
          name="company"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="basicInfoModel.company"
          required
        />
      </div>
    </div>
  </div>

  <!--Staus-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">
            Status
          </span>
        </div>
        <input
          type="text"
          name="status"
          [(ngModel)]="basicInfoModel.status"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
        />
      </div>
    </div>

    <!--Phone number-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Phone Number</span
          >
        </div>
        <input
          type="text"
          name="phoneNummber"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="basicInfoModel.phoneNumber"
          required
        />
      </div>
    </div>
  </div>

  <!--Incident-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <mat-form-field appearance="fill" class="select-style mb-2">
          <mat-label>Incident</mat-label>
          <mat-select
            name="IncidentId"
            [(ngModel)]="basicInfoModel.incidentId"
          >
           <mat-option
              *ngFor="let incident of incidents"
              value="{{ incident.incidentId }}"
            >
              {{ formatIncident(incident) }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--Document created on-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Created on</span
          >
        </div>
        <input
          type="text"
          name="documentCreatedOn"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
          [(ngModel)]="basicInfoModel.documentCreatedOn"
        />
      </div>
    </div>
  </div>

  <!--Work request-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <mat-form-field appearance="fill" class="select-style mb-2">
          <mat-label>Work request</mat-label>
          <mat-select
            name="workRequestId"
            [(ngModel)]="basicInfoModel.workRequestId"
            required
          >
            <mat-option
              *ngFor="let request of requests"
              value="{{ request.workRequestId }}"
            >
              {{ formatRequest(request) }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!--Field crew-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <mat-form-field appearance="fill" class="select-style mb-2">
          <mat-label>Crew</mat-label>
          <mat-select
            name="crewId"
            [(ngModel)]="basicInfoModel.crewId"
            required
          >
            <mat-option
              *ngFor="let crew of crews"
              value="{{ crew.crewName }}"
            >
              {{ formatCrew(crew) }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--Type of work-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        
      </div>
    </div>
  </div>

  <!--Start date-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Start Date</span
          >
        </div>
        <input
          type="date"
          name="startDate"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="basicInfoModel.startDate"
          required
        />
      </div>
    </div>
  </div>

  <!--End date-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >End Date</span
          >
        </div>
        <input
          type="date"
          name="endDate"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="basicInfoModel.endDate"
          required
        
        />
      </div>
    </div>
  </div>

  <!--Creatred by-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Created by</span
          >
        </div>
        <input
          type="text"
          name="createdBy"
          [(ngModel)]="basicInfoModel.createdByUserId"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
        />
      </div>
    </div>
  </div>

  <!--Street-->
  <div class="input-group mb-3">
    <mat-form-field appearance="fill" class="select-style mb-2">
      <mat-label>Location</mat-label>
      <mat-select
        name="LocationId"
        [(ngModel)]="basicInfoModel.locationId"
        required
      >
        <mat-option
          *ngFor="let location of locations"
          value="{{ location.locationId }}"
        >
          {{ formatLocation(location) }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <!--Purpuse-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Purpose</span
      >
    </div>
    <input
      type="text"
      name="purpose"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [(ngModel)]="basicInfoModel.purpose"
      required
    />
  </div>

  <!--Notes-->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Notes</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" name="notes" [(ngModel)]="basicInfoModel.notes">

    </textarea>
  </div>
  <br />
  <br />
  <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
