<div class="container" style="width: 200%">
  <h2>Basic Information</h2>
  <form (ngSubmit)="save()">

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Type1</option>
            <option value="2">Type2</option>
            <option value="3">Type3</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Company</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">
                Status
              </span>
          </div>
          <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Draft"
          readonly
        />
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
            >Phone Number</span
          >
          </div>
          <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
        </div>
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
            >Incident</span
          >
          </div>
          <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value="Incident1"
        readonly
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          Open Incident
        </button>
      </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
          >Document created on</span
        >
      </div>
      <input
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
            >Work request:</span
          >
          </div>
          <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value="WR150"
        readonly
      />
      <button class="btn btn-outline-secondary" type="button">
        Open Work request
      </button>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
          >Field crew:</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value="NS Crew"
        readonly
      />

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">
          Open field crew
        </button>
      </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
          >Type of work</label
        >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">Type1</option>
            <option value="2">Type2</option>
            <option value="3">Type3</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
          >Start Date</span
        >
          </div>
          <input
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
        </div>
      </div>
    </div>



    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
          >End Date</span
        >
          </div>
          <input
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
          >Created by</span
        >
          </div>
          <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Milica Simeunovic"
          readonly
        />
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Street</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Street..." >
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Purpose</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Details</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Notes</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <br/>
    <br/>

    <div class="form-row">
      <div class="form-group col-md-3">
        <div class="input-group mb-2">
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-2">
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-2">
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button">
              <mat-icon>save</mat-icon>
              Save
            </button>
          </div>
          <button class="btn btn-outline-primary" type="button">
            <mat-icon>cancel</mat-icon>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
