<div class="container" style="padding-top: 20px">
  <h2>Basic Information</h2>
  <!--Type-->
  <div>
    <mat-error *ngIf="typeFormControl.hasError('required')">
      Type is <strong>required</strong>
    </mat-error>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Type</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" 
                name="type"
                [(ngModel)]="model.type"
                [formControl]="typeFormControl" >
          <option value="1">Planned work</option>
          <option value="2">Unplanned work</option>
        </select>
      </div>
    </div>

    <!--Company-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Company</span
          >
        </div>
        <input
          type="text"
          name="company"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
          (ngModel)="model.company"
        />
      </div>
    </div>
  </div>

  <!--Staus-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">
            Status
          </span>
        </div>
        <input
          type="text"
          name="status"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Draft"
          readonly
          (ngModel)="model.status"
        />
      </div>
    </div>

    <!--Phone number-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Phone Number</span
          >
        </div>
        <input
          type="text"
          name="phoneNummber"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
          (ngModel)="model.phoneNumber"
        />
      </div>
    </div>
  </div>

  <!--Incident-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Incident</span
          >
        </div>
        <input
          type="text"
          name="incidentId"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Incident1"
          readonly
          (ngModel)="model.incidentId"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="openIncidentDialog()">
            Open Incident
          </button>
        </div>
      </div>
    </div>

    <!--Document created on-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Document created on</span
          >
        </div>
        <input
          type="date"
          name="documentCreatedOn"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          readonly
          (ngModel)="model.documentCreatedOn"
        />
      </div>
    </div>
  </div>

  <!--Work request-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Work request:</span
          >
        </div>
        <input
          type="text"
          name="workRequestId"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="WR150"
          readonly
          (ngModel)="model.workRequestId"
        />
        <button class="btn btn-outline-secondary" type="button" (click)="openWorkRequestDialog()">
          Open Work request
        </button>
      </div>
    </div>

    <!--Field crew-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Field crew:</span
          >
        </div>
        <input
          type="text"
          name="fieldCrew"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="NS Crew"
          readonly
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="openCrewDialog()">
            Open field crew
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--Type of work-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01"
            >Type of work</label
          >
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Type1</option>
          <option value="2">Type2</option>
          <option value="3">Type3</option>
        </select>
      </div>
    </div>
  </div>

  <!--Start date-->
  <div>
    <mat-error *ngIf="startDateFormControl.hasError('required')">
      Start Date is <strong>required</strong>
    </mat-error>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Start Date</span
          >
        </div>
        <input
          type="date"
          name="startDate"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="model.startDate"
        [formControl]="startDateFormControl"
        />
      </div>
    </div>
  </div>

  <!--End date-->
  <div>
    <mat-error *ngIf="endDateFormControl.hasError('required')">
      End Date is <strong>required</strong>
    </mat-error>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >End Date</span
          >
        </div>
        <input
          type="date"
          name="endDate"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          [(ngModel)]="model.endDate"
        [formControl]="endDateFormControl"
        />
      </div>
    </div>
  </div>

  <!--Creatred by-->
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Created by</span
          >
        </div>
        <input
          type="text"
          name="createdBy"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Milica Simeunovic"
          readonly
          (ngModel)="model.createdBy"
        />
      </div>
    </div>
  </div>

  <!--Street-->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Street</span
      >
    </div>
    <input
      type="text"
      name="street"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      placeholder="Enter Street..."
      readonly
      (ngModel)="model.street"
    />
  </div>

  <!--Purpuse-->
  <div>
    <mat-error *ngIf="purposeFormControl.hasError('required')">
      Purpose is <strong>required</strong>
    </mat-error>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default"
        >Purpose</span
      >
    </div>
    <input
      type="text"
      name="purpose"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [(ngModel)]="model.purpose"
      [formControl]="purposeFormControl"
    />
  </div>

  <!--Notes-->
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Notes</span>
    </div>
    <textarea class="form-control" aria-label="With textarea" name="notes" [(ngModel)]="model.notes">

    </textarea>
  </div>
  <br />
  <br />
</div>
