<h2 style="text-align: center">New Consumer</h2>
<hr />
<br />
<div style="margin-left: 25%">
  <form (ngSubmit)="save()" ngNativeValidate>
    <!--Label Name and input Enter name-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Name</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Name..."
      />
    </div>
    <!--Label Lastname and input Enter Lastname-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Lastname</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Lastname..."
      />
    </div>

    <!--Label Phone number and input Enter phone nummber-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Phone number</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Phone number..."
      />
    </div>

    <!--Label Location and input Enter location-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Location</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        placeholder="Enter Location..."
      />
    </div>

    <!--Label Type and select choose-->
    <div class="input-group mb-3" style="width: 700px">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Type</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Rezidentalni</option>
        <option value="2">Komercijalni</option>
      </select>
    </div>
    <!--Button Reposrt-->
    <div class="input-group-prepend">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
