<h2>New Consumer</h2>

<div class="input-group mb-3" style="width: 700px;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Name..." >
</div>
<div class="input-group mb-3" style="width: 700px;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Lastname</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Lastname..." >
</div>
<div class="input-group mb-3" style="width: 700px;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Phone number</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Phone number..." >
</div>
<div class="input-group mb-3" style="width: 700px;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Location</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Location..." >
</div>
<div class="input-group mb-3" style="width: 700px;">
  <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Type</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">Rezidentalni</option>
      <option value="2">Komercijalni</option>
    </select>
  </div>

<div class="form-row">
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </div>
    </div>
</div>
