* {box-sizing: border-box}



/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  font-size: larger;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

mat-label{
  font-size: 30px;
}
a,label{
  font-size: 20px;
}