<div class="container">
  <h1>User Profile</h1>
  <hr />

  <!--Change password-->
  <div>
    <a [routerLink]="['/changePassword']" routerLinkActive="active"
      >Change Password</a
    >
  </div>

  <br />
  <br />

  <form (ngSubmit)="applyChanges()" ngNativeValodate>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <!--Username-->
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <br />
            <input
              name="username"
              matInput
              placeholder="Username"
              [(ngModel)]="model.username"
              required
            />
          </mat-form-field>
          <br />
        </div>
      </div>

      <!--Email-->
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <br />
            <input
              name="email"
              type="email"
              matInput
              [(ngModel)]="model.email"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--Name-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <br />
            <input
              name="name"
              matInput
              [(ngModel)]="model.name"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <!--Lastname-->
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <mat-form-field class="example-full-width">
            <mat-label>Lastname</mat-label>
            <br />
            <input
              name="lastname"
              matInput
              [(ngModel)]="model.lastname"
              required
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <!--Birthday-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
      <mat-form-field class="example-full-width">
        <mat-label>Birthday</mat-label>
        <input type="date" matInput  name="birthday" [(ngModel)]="model.birthday" required>
       
      </mat-form-field>
    
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group mb-3" style="width: 700px">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Location</label>
            </div>
            <select
              name="LocationId"
              class="custom-select"
              id="inputGroupSelect01"
              [(ngModel)]="model.locationId"
              required
            ><option *ngFor="let location of locations" value="{{location.locationId}}">{{formatLocation(location)}}
            </option>
            </select>
          </div>
    <br />
  </div>
</div>

</div>

    <!--Profile picture-->
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
          <mat-label for="profilePicture">Profile Picture</mat-label>
        
      <br/>
        <div class="container">
          <img
            width="300"
            height="300"
            id="picture"
            alt="picture"
            src={{image}}
          />
        </div>

        <div class="container">
          <input
            type="file"
            name="Picture"
            id="Picture"
            (change)="onFileSelected($event)"
          />
        </div>
      </div>
    </div>
    <hr />

    <button
      type="submit"
      class="btn btn-primary"
      style="width: 30%; height: 50px; margin-left: 70%"
    >
      Apply changes
    </button>
  </form>
</div>
