<div class="form-row">
  <div class="form-group col-md-3">
    <div class="input-group mb-3">
        <div class="list-group"  style="width: 300px; padding-top: 20px;">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            (click)="changeView(1)"
            routerLink="basicInformation"
          >
            Basic Information
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            (click)="changeView(2)"
            routerLink="historyOfStateChange"
          >
            History of state changes
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            (click)="changeView(3)"
            routerLink="multimediaAttachments"
          >
            Multimedia attachments
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            (click)="changeView(4)"
            routerLink="equipment"
          >
            Equipment
          </button>
        </div>
      </div>
    </div>

    <div class="form-group col-md-8">
      <div class="input-group mb-3">
        <router-outlet></router-outlet>
        <!--<div [ngSwitch]="this.buttonClicked">
          <div *ngSwitchCase="1">
            <app-basicInformationWorkOrder></app-basicInformationWorkOrder>
          </div>
          <div *ngSwitchCase="2">
            <app-historyOfStateChanges></app-historyOfStateChanges>
          </div>
          <div *ngSwitchCase="3">
            <app-multimediaAttachments></app-multimediaAttachments>
          </div>
          <div *ngSwitchCase="4">
            <app-equipment></app-equipment>
          </div>
        </div>-->
      </div>
    </div>
  </div>
