<div class="mt-2" style="padding-top: 3%;">
  <!--New Device-->
  <div>
    <button type="button" class="btn btn-secondary" [routerLink]="['/newDevice']">New Device</button>
  </div>

  <!--Filter-->
  <span class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
  </span>

  <div class="example-container mat-elevation-z8 mt-0">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-design"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-design"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-design"> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="coordinates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-design"> Coordinates </th>
        <td mat-cell *matCellDef="let element"> {{element.coordinates}} </td>
      </ng-container>

      <!-- Star Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-design"> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <!--spojeno-->
      <ng-container matColumnDef="buttons" sticky>
        <th mat-header-cell *matHeaderCellDef class="th-button-design"> </th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button mat-stroked-button color="primary" (click)="funkcijica()">Edit</button>
          <button mat-stroked-button color="warn" (click)="deleteRow(i)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!--Paginator-->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>