/*da bi buttoni bili postavljeni jedan pored drugog i kada se pojavi vertikalan scrool*/
th.mat-header-cell:last-of-type{  
  padding-right: 0px;
}
td.mat-cell:last-of-type{
  width: 160px;
  padding-right: 0px;
  margin-right: 0px;
}
td.mat-footer-cell:last-of-type{
  padding-right: 0px;
}

.th-design{
  width: 215px;
}

.th-button-design{
  max-width: 36px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  
  .mat-button-toggle-group {
    margin-left: 12px;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
    
    .example-container {
      max-height: 485px;
      width: 100%;
      max-width: 100%;
      overflow: auto;
    }
    
    table {
      width: 100%;
    }
    
    td.mat-column-star {
      width: 20px;
      padding-right: 8px;
    }
    
    th.mat-column-position, td.mat-column-position {
      padding-left: 8px;
    }
    
    .mat-table-sticky-border-elem-right {
      border-left: 1px solid #e0e0e0;
    }
    
    .mat-table-sticky-border-elem-left {
      border-right: 1px solid #e0e0e0;
    }