<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav navbar-collapse collapse">
    <li class="nav-item">
      <a class="nav-link navbar_link_left active" (click)="showComponentFront()">Home</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link navbar_link_right" (click)="showComponentLogIn()">Login</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link navbar_link_right" (click)="showComponentRegister()">Register</a>
    </li>
  </ul>
</nav>

<ng-container *ngIf="showFront">
  <div class="title-header">
    NAZIV SAJTA
  </div>
  <div class="container outage-button">
    <a [routerLink]="['/reportOutage']" class="animated-button1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <mat-icon class="phone_icon white-icon">phone</mat-icon> Report Outage
    </a>
  </div>
</ng-container>

<ng-container *ngIf="showLogIn">
  <app-login></app-login>
</ng-container>

<ng-container *ngIf="showRegister">
  <app-register></app-register>
</ng-container>