<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="media d-flex align-items-center"><img src={{image}} alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
    <div class="media-body">
      <h4 class="m-0">{{model.name + ' ' + model.lastname}}</h4>
      <p class="font-weight-light text-muted mb-0">{{model.userType}}</p>
    </div>
  </div>
  <form class="form-inline">
    <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" (click)="logout()"><mat-icon>keyboard_tab</mat-icon></a>
  </form>
</nav>