<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
    <div class="media-body">
      <h4 class="m-0">Jason Doe</h4>
      <p class="font-weight-light text-muted mb-0">Web developer</p>
    </div>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
    <a class="nav-link" href="/dashboard" routerLinkActive="active" ><mat-icon>keyboard_tab</mat-icon></a>
  </form>
</nav>