<ng-container *ngIf="isFrontPage == false">
  <app-navBarTop></app-navBarTop>
  <div class="row" style="height: 100%; width: 100%">
    <div class="col-1">
      <app-navBar></app-navBar>
    </div>
    <div class="col-10">
      <router-outlet name="primary"></router-outlet>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isFrontPage">
  <router-outlet name="front"></router-outlet>
</ng-container>

<!-- App.component data:
<hr>
<h2>This is Angular component: </h2>
<app-hero></app-hero>

<app-react-bidirectional-renderer [heroes$]="heroesObj$"></app-react-bidirectional-renderer>
<hr> -->