<h2 style="padding-top: 2%">Notifications</h2>
<div class="form-row">
  <div class="form-group col-md-3">
    <div class="input-group mb-3">
      <!--Notificatins buttons-->
      <div class="list-group" style="width: 200px; padding-top: 20px">
        <!--All notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-secondary"
          (click)="applyFilter(5)"
        >
          All notifications
        </button>
        <!--Unread notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-secondary"
        >
          Unread notifications
        </button>

        <!--Error notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-danger"
          (click)="applyFilter(1)"
        >
          Error&nbsp; &nbsp; &nbsp;<mat-icon>clear</mat-icon>
        </button>

        <!--Info notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-primary"
          (click)="applyFilter(2)"
        >
          Info&nbsp; &nbsp; &nbsp;<mat-icon>error_outline</mat-icon>
        </button>

        <!--Success notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-success"
          (click)="applyFilter(3)"
        >
          Success&nbsp; &nbsp; &nbsp;<mat-icon>done</mat-icon>
        </button>

        <!--Warning notifications-->
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-warning"
          (click)="applyFilter(4)"
        >
          Warning &nbsp; &nbsp; &nbsp;<mat-icon>warning</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group col-md-9">
    <div [ngSwitch]="this.selectedType">
      <div *ngSwitchCase="'error'">
        <div *ngFor="let profile of dataSource; let i = index">
          <div class="alert alert-danger not" role="alert">
            This is a danger alert—check it out!
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'info'">
        <div *ngFor="let profile of dataSource; let i = index">
          <div class="alert alert-info not" role="alert">
            This is a info alert—check it out!
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'success'">
        <div *ngFor="let profile of dataSource; let i = index">
          <div class="alert alert-success not" role="alert">
            This is a success alert—check it out!
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'warning'">
        <div *ngFor="let profile of dataSource; let i = index">
          <div class="alert alert-warning not" role="alert">
            This is a warning alert—check it out!
          </div>
        </div>
      </div>
      <div *ngSwitchCase="''">
        <div *ngFor="let profile of dataSource; let i = index">
          <div class="alert alert-danger not" role="alert">
            This is a danger alert—check it out!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-left: 81%">
    <button class="btn btn-primary">Mark all as read</button>
    &nbsp;
    <button class="btn btn-primary">Clear All</button>
  </div>
</div>
