.button {
    width: 160px;
  }
  
  .myDiv {
    border: 1px outset black;
    background-color: lightgray;
    text-align: center;
    width: 160px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    width: 100%;
    max-height: 500px;
  }
  
  .mat-cell{
    overflow: auto;
    width: 15%;
  }
    