<div class="form-row">
  <div class="form-group col-md-4">
    <div class="input-group mb-3">
      <div class="list-group" style="width: 300px">
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-secondary"
          (click)="applyFilter(5)"
        >
          All notifications
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-secondary"
        >
          Unread notifications
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-danger"
          (click)="applyFilter(1)"
        >
          Error&nbsp; &nbsp; &nbsp;<mat-icon>clear</mat-icon>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-primary"
          (click)="applyFilter(2)"
        >
          Info&nbsp; &nbsp; &nbsp;<mat-icon>error_outline</mat-icon>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-success"
          (click)="applyFilter(3)"
        >
          Success&nbsp; &nbsp; &nbsp;<mat-icon>done</mat-icon>
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action list-group-item-warning"
          (click)="applyFilter(4)"
        >
          Warning &nbsp; &nbsp; &nbsp;<mat-icon>warning</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group col-md-8">
    <div class="input-group mb-3">
      <br />
      <div class="example-container mat-elevation-z8">
        <mat-table
          matSort
          [dataSource]="dataSource"
          style="width: 750px; align-content: stretch"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let element" class="mat-cell">
              <div [ngSwitch]="this.element.type">
                <div *ngSwitchCase="'error'">
                  <mat-icon
                    class="list-group-item-danger"
                    style="margin-top: 10px"
                    >clear</mat-icon
                  >
                </div>
                <div *ngSwitchCase="'info'">
                  <mat-icon
                    class="list-group-item-primary"
                    style="margin-top: 10px"
                    >error_outline</mat-icon
                  >
                  &nbsp; &nbsp; &nbsp;
                  <a href="/newCrew">
                    <button
                      class="btn btn-outline-primary"
                      style="margin-bottom: 10px"
                    >
                      Open
                    </button>
                  </a>
                </div>
                <div *ngSwitchCase="'success'">
                  <mat-icon
                    class="list-group-item-success"
                    style="margin-top: 10px"
                    >done</mat-icon
                  >
                </div>
                <div *ngSwitchCase="'warning'">
                  <mat-icon
                    class="list-group-item-warning"
                    style="margin-top: 10px"
                    >warning</mat-icon
                  >
                </div>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Text</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-cell"
              style="margin-bottom: 20px"
            >
              {{ element.text }}
            </td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td
              mat-cell
              *matCellDef="let element"
              class="mat-cell"
              style="margin-bottom: 20px"
            >
              {{ element.date | date }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <button class="btn btn-primary">Mark all as read</button>
    &nbsp;
    <button class="btn btn-primary">Clear All</button>
  </div>
</div>
