<div class="ml-5 mt-3">
  <h2>New Device:</h2>
  <form [formGroup]="newDeviceForm" (ngSubmit)="saveDevice()" >
    <div class="form-row mt-4">
      <div class="col-md-12">

        <!-- DA LI TREBA ID ?!?!?!? -->
        <!--
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Placeholder" value="1234" readonly>
        <mat-hint>.</mat-hint>
      </mat-form-field>
      <br>
      -->
        <mat-form-field appearance="fill" class="w-50">
          <mat-label>Type</mat-label>
          <mat-select required formControlName="typeControl">
            <mat-option value="POWER_SWITCH">Power switch</mat-option>
            <mat-option value="FUSE">Fuse</mat-option>
            <mat-option value="TRANSFORMER">Transformer</mat-option>
            <mat-option value="DISCONNECTOR">Disconnector</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="submitted && newDeviceForm.controls.typeControl.invalid" class="error-style">
          Device type is required
        </mat-error>
        <br>

        <mat-form-field appearance="fill" class="w-50">
          <mat-label>Location</mat-label>
          <mat-select formControlName="locationControl">
            <mat-option *ngFor="let location of locations" value="{{location.locationId}}">{{formatLocation(location)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="submitted && newDeviceForm.controls.locationControl.invalid" class="error-style" >
          Location is required
        </mat-error>
        

        <!--
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Address</mat-label>
        <input matInput placeholder="enter address of device">
        <mat-hint>.</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Coordinates</mat-label>
        <input matInput placeholder="enter exact coordinates of device">
        <mat-hint>.</mat-hint>
      </mat-form-field>
      -->

        <br>
        <br>
        <button class="btn btn-outline-primary" type="submit">
          <mat-icon>save</mat-icon>
          Save
        </button>

      </div>
    </div>
  </form>
</div>