<div class="ml-5 mt-3">
  <h2 *ngIf="edit == false">New Device:</h2>
  <h2 *ngIf="edit == true">Edit Device:</h2>
  <form [formGroup]="newDeviceForm" (ngSubmit)="saveDevice()">
    <div class="form-row mt-4">
      <div class="col-md-12">

        <!-- DA LI TREBA ID ?!?!?!? -->
        <!--
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Placeholder" value="1234" readonly>
        <mat-hint>.</mat-hint>
      </mat-form-field>
      <br>
      -->
        <mat-form-field appearance="fill" class="w-50 pb-2">
          <mat-label>Type</mat-label>
          <mat-select required formControlName="typeControl">
            <mat-option value="0">Power switch</mat-option>
            <mat-option value="1">Fuse</mat-option>
            <mat-option value="2">Transformer</mat-option>
            <mat-option value="3">Disconnector</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && newDeviceForm.controls.typeControl.invalid">
            Device type is required
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" class="w-50 pb-2">
          <mat-label>Location</mat-label>
          <mat-select required formControlName="locationControl">
            <mat-option *ngFor="let location of locations" value="{{location.locationId}}">{{formatLocation(location)}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && newDeviceForm.controls.locationControl.invalid">
            Location is required
          </mat-error>
        </mat-form-field>
        <br>
        <br>

        <!--
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Address</mat-label>
        <input matInput placeholder="enter address of device">
        <mat-hint>.</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="input-style">
        <mat-label>Coordinates</mat-label>
        <input matInput placeholder="enter exact coordinates of device">
        <mat-hint>.</mat-hint>
      </mat-form-field>
      -->

        <button class="btn btn-outline-primary icon-text" type="submit">
          <mat-icon>save</mat-icon>
          <span class="font-style">&nbsp;&nbsp;Save&nbsp;</span>
        </button>

      </div>
    </div>
  </form>
</div>