<div class="container">
  <h2>Basic Information</h2>

  <form  (ngSubmit)="nextBasic()" ngNativeValidate  #myForm="ngForm">
    
    <!--Type-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Type</label
            >
          </div>
          <select
            class="custom-select"
            id="inputGroupSelect01"
            name="type"
            [(ngModel)]="basicInfoModel.type"
            required
          >
            <option value="0">PLANNED WORK</option>
            <option value="1">UNPLANNED WORK</option>
          </select>
        </div>
      </div>

      <!--Emergency-->
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input
                type="checkbox"
                aria-label="Emergency"
                name="emergency"
                [(ngModel)]="basicInfoModel.emergency"
              />
            </div>
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Text input with checkbox"
            placeholder="Emergency"
            readonly
          />
        </div>
      </div>
    </div>

    <!--Status-->
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Status</span
            >
          </div>
          <input
            name="status"
            [(ngModel)]="basicInfoModel.status"
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            readonly
          />
        </div>
      </div>

      <!--Company-->
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Company</span
            >
          </div>
          <input
            type="text"
            name="company"
            [(ngModel)]="basicInfoModel.company"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <mat-form-field appearance="fill" class="select-style mb-2">
            <mat-label>Incident</mat-label>
            <mat-select
              name="IncidentId"
              [(ngModel)]="basicInfoModel.incidentId"
              required
            >
             <mat-option
                *ngFor="let incident of incidents"
                value="{{ incident.incidentId }}"
              >
                {{ formatIncident(incident) }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Phone Number</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            name="phone"
            [(ngModel)]="basicInfoModel.phone"
            required
          />
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <mat-form-field appearance="fill" class="select-style mb-2">
            <mat-label>Location</mat-label>
            <mat-select
              name="LocationId"
              [(ngModel)]="basicInfoModel.locationId"
              required
            >
              <mat-option
                *ngFor="let location of locations"
                value="{{ location.locationId }}"
              >
                {{ formatLocation(location) }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Created on</span
            >
          </div>
          <input
            name="createdOn"
            type="date"
            [(ngModel)]="basicInfoModel.createdOn"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            readonly
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Start Date</span
            >
          </div>
          <input
            name="startDate"
            [(ngModel)]="basicInfoModel.startDate"
            type="date"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >End Date</span
            >
          </div>
          <input
            name="endDate"
            [(ngModel)]="basicInfoModel.endDate"
            type="date"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >Created by</span
            >
          </div>
          <input
            name="createdBy"
            [(ngModel)]="basicInfoModel.createdByUserId"
            type="text"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-default"
            readonly
          />
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Purpose</span
        >
      </div>
      <input
        name="purpose"
        [(ngModel)]="basicInfoModel.purpose"
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        required
      />
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Notes</span>
      </div>
      <textarea
        name="notes"
        [(ngModel)]="basicInfoModel.notes"
        class="form-control"
        aria-label="With textarea"
      ></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Next</button>
  </form>
</div>
