<div class="container">
  <h2>Basic Information</h2>
  <form >

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Type</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Type1</option>
          <option value="2">Type2</option>
          <option value="3">Type3</option>
        </select>
      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Emergency" />
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Text input with checkbox"
          placeholder="Emergency"
          readonly
        />
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Status</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Draft"
          readonly
        />
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Company</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Incident</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          value="Incident1"
          readonly
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            Open Incident
          </button>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Phone Number</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Street</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Enter Street..."
        />
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Document created on</span
          >
        </div>
        <input
          type="date"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
  </div>
<div class="form-row">
  <div class="form-group col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Start Date</span
        >
      </div>
      <input
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >End Date</span
        >
      </div>
      <input
        type="date"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
      />
    </div>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Created by</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        value="Milan Momcilovic"
        readonly
      />
    </div>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Purpose</span>
  </div>
  <input
    type="text"
    class="form-control"
    aria-label="Default"
    aria-describedby="inputGroup-sizing-default"
  />
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Notes</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>
<br />

<button class="btn btn-outline-primary" type="button">Save</button>
</form>
</div>
