<h2>New Crew</h2>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Crew Name..." >
</div>

<mat-selection-list #shoes>
  <mat-list-option *ngFor="let member of Members">
    {{member}}
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p>
<div class="form-row">
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
    </div>
  </div>
  <div class="form-group col-md-3">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <button class="btn btn-outline-primary" type="button">
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </div>
    </div>
</div>
