<div class="ml-5">
  <h2>Resolution</h2>
  <div class="form-row mt-4">
    <div class="col-md-6">

      <mat-form-field appearance="fill">
        <mat-label>Cause</mat-label>
        <mat-select (selectionChange)="SelectionChangedCause($event)" >
          <mat-option value="weather">Weather</mat-option>
          <mat-option value="failure">Failure</mat-option>
          <mat-option value="human_factor">Human factor</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="showSubcauses">
        <mat-form-field appearance="fill">
          <mat-label>Subcause</mat-label>
          <mat-select [formControl]="resolutionFormControl">
            <mat-option *ngFor="let value of subcauses" value="value">{{value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Construction type</mat-label>
        <mat-select>
          <mat-option value="underground">Underground</mat-option>
          <mat-option value="overground">Overground</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Material</mat-label>
        <mat-select>
          <mat-option value="metal">Metal</mat-option>
          <mat-option value="plastic">Plastic</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
</div>