<div class="ml-5">
  <h2>Resolution</h2>

  <form [formGroup]="newResolutionForm" (ngSubmit)="saveResolution()">
  <div class="form-row mt-4">
    <div class="col-md-12">

      <mat-form-field appearance="fill" class="select-style">
        <mat-label>Cause</mat-label>
        <mat-select (selectionChange)="selectionChangedCause($event)" required formControlName="causeControl" >
          <mat-option value="WEATHER">WEATHER</mat-option>
          <mat-option value="FAILURE">FAILURE</mat-option>
          <mat-option value="HUMAN_FACTOR">HUMAN FACTOR</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && newResolutionForm.controls.causeControl.invalid">
          Cause is required
      </mat-error>
      </mat-form-field>

      <div *ngIf="showSubcauses">
        <mat-form-field appearance="fill" class="select-style">
          <mat-label>Subcause</mat-label>
          <mat-select required formControlName="subcauseControl">         
            <mat-option *ngFor="let value of subcauses" value="{{value}}">{{value}}</mat-option>
         </mat-select>
        <mat-error *ngIf="submitted && newResolutionForm.controls.subcauseControl.invalid">
            Subcause is required
        </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="select-style">
        <mat-label>Construction type</mat-label>
        <mat-select required formControlName="constructionControl" >
          <mat-option value="UNDERGROUND">UNDERGROUND</mat-option>
          <mat-option value="OVERGROUND">OVERGROUND</mat-option>
          <!--
          <mat-option value="none">None</mat-option>
          -->
        </mat-select>
        <mat-error *ngIf="submitted && newResolutionForm.controls.constructionControl.invalid">
          Construction is required
      </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="select-style">
        <mat-label>Material</mat-label>
        <mat-select required formControlName="materialControl" >
          <mat-option value="METAL">METAL</mat-option>
          <mat-option value="PLASTICS">PLASTICS</mat-option>
          <mat-option value="CERAMICS">CERAMICS</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && newResolutionForm.controls.materialControl.invalid">
          Material is required
      </mat-error>
      </mat-form-field>

      <div class="row mt-4">
        <div class="col-3">
          <button class="btn btn-outline-primary icon-text" type="submit">
            <mat-icon>save</mat-icon>
            <span class="font-style">&nbsp;&nbsp;Save&nbsp;&nbsp;</span>
          </button>
        </div>
        <!--
        <div class="col-3">
          <button class="btn btn-outline-primary icon-text">
            <mat-icon>cancel</mat-icon>
            <span class="font-style"  type="reset" >&nbsp;Cancel</span>
          </button>
        </div>
        -->
      </div>

    </div>
  </div>
</form>

</div>