<div class="container" style="width: 100%; padding-top: 20px;">
  <h2>History of state Changes</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Date of the change</span
          >
        </div>
        <input
          type="date"
          class="form-control"
          aria-label="Default"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"
          >Documet state changed by</span
        >
      </div>
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        aria-describedby="inputGroup-sizing-default"
        readonly
        value="Milan Momcilovic"
      />
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Type</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">Aprove</option>
        <option value="2">Deny</option>
        <option value="3">Cancel</option>
      </select>
    </div>

    <button class="btn btn-outline-primary" type="button">Save</button>
  </div>
</div>
