<h2>Work Plan</h2>
<!--New Work Plan-->
<div>
    <button type="button" class="btn btn-primary" [routerLink]="['/newPlan']">New Work Plan</button>
</div>

<!--Filter-->
<span class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filer" #input />
  </mat-form-field> </span
>&nbsp;&nbsp;&nbsp;&nbsp;

<!--All/Mine-->
<span>
  <mat-button-toggle-group>
    <mat-button-toggle value="all_incidents" id="option1" (click)="getAllPlans()"
      >All</mat-button-toggle
    >
    <mat-button-toggle value="mine_incidents" id="option2" (click)="getMinePlans()"
      >Mine</mat-button-toggle
    >
  </mat-button-toggle-group>
</span>

<!--Table-->
<div class="example-container mat-elevation-z8 mt-0">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" >
    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id.</th>
      <td mat-cell *matCellDef="let element">
        {{ element.workPlanId }}
      </td>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container matColumnDef="startDate" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header >Start Date</th>
      <td mat-cell *matCellDef="let element">
        {{ element.startDate | date }}
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }}
      </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell id='location' *matCellDef="let element">{{element.street+' '+element.city}} 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>