<div class="container" style="width: 200%; padding-top: 20px;">

  <h2>Switching Instructions</h2>
   
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" 
        >Instructions</span>
      </div>
      <textarea class="form-control" aria-label="With textarea"        
       name="switchingInstructions"
      [(ngModel)]="switchingInstructionModel.instructions"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Instructions</button>
</div>