<h2>Work Requests</h2>
<!--New Work Request-->
<div>
  <button *ngIf="visible" type="button" class="btn btn-primary" [routerLink]="['/newWorkOrder']">New Work Request</button>
</div>

<!--Filter-->
<span class="example-header">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filer" #input />
</mat-form-field> </span
>&nbsp;&nbsp;&nbsp;&nbsp;

<!--All/Mine-->
<span>
<mat-button-toggle-group>
  <mat-button-toggle value="all_incidents" id="option1" (click)="getAllRequest()"
    >All</mat-button-toggle
  >
  <mat-button-toggle value="mine_incidents" id="option2" (click)="getMineRequest()"
    >Mine</mat-button-toggle
  >
</mat-button-toggle-group>
</span>

<!--Table-->
<div class="example-container mat-elevation-z8 mt-0">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" >
   
    <!-- id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Id. </th>
      <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.workRequestId}} </td>
    </ng-container>

    <!-- Start date Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > Start Date </th>
      <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.startDate | date}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
      <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.phone}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Status </th>
      <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.status}} </td>
    </ng-container>

   <!-- Address Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element" class="mat-cell"> {{element.street+' '+element.city}}  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>



 